<section class="container">
	<div class="row">
		<div class="ninecol">
			<article>
			<h1>Samh&auml;llsnyttan i framtiden</h1>
<p>
	Samhällsnyttan är appen för dig som vill kunna göra bra val för Dina nära och kära. Idagsläget illustrerar vi funktionen genom att du kan hitta en av alla Sveriges offentliga lekplatser, just där du och dina barn befinner dig. Eller kanske planera lekplatsbesök i samband med resa till annan ort i Sverige. Du kan till och med söka på de redskap som just dina barn är intresserad av.
</p>
<p>
	Samhällsnyttan kommer nu gå steget vidare i strävan efter att bli Sveriges största, objektiva värdefiltrerare för alla medborgare i samhället. I nästkommande steg kommer förskolor, skolor, äldreboenden, badhus och begravningsplatser att värdefiltreras in i appen, på exakt samma sätt som lekplatser. I dagens samhälle föds, lever och dör vi inte i längre i samma kommun. Detta skapar ett behov av Samhällsnyttan.
</p>
<p>
	Du kanske ska flytta och vill hitta en bra förskola i närheten av ert nya hem. Eller så vill du kanske att din mor ska få bo på ett äldreboende nära familjen, och att du har specifika önskemål för henne. Kvalitén på denna information kan vara bra eller ibland bristfällig och rörig hos kommunerna, och ser framför allt helt olika ut från kommun till kommun. Om du dessutom ska titta på en annan kommun än den du känner till bäst, kan det bli ännu svårare. Samhällsnyttan vill att du ska få likadan information, oavsett vart i Sverige du befinner dig!
</p>
<p>
	Att du som användare ska kunna kommentera en lekplats, skola eller förskola är bland det viktigaste i appen. Hur många gånger har vi inte suttit tillsammans med vänner och diskuterat val av förskolor för våra barn, hur ens föräldrar blir behandlade på ett äldreboende? I dessa diskussioner har vi många gånger sagt att vi inte vet hur det verkar och ingen känner någon som går på just den skolan tex. Det gör att, även om det formella ser bra ut, så vet vi inte hur skolvalet kommer att påverka våra barn. Samhällsnyttan fyller detta tomrum genom att skapa forumet för att kommentera. Om min mamma inte fått duscha på ett äldreboende på två veckor är det viktigt att andra får veta det. Om många barn trivs på en skola, så kommer du att märka det bland kommentarerna, ett värde som kan vara svårt att mäta.
</p>
<p>
	Vi hoppas att Samhällsnyttan kan vara en faktor som ställer krav på de offentliga tjänsterna att leverera det som vi förväntar oss, så att vi kan göra så bra val som möjligt för våra nära och kära. Se det kanske lite som en reseguide, hotellet ser så fint ut på bilderna, men kommentarerna i reseguiden säger något helt annat. Värdefull information, samlat på ett ställe.
</p>
<p>
	Snart kommer denna information i appen, till dess, håll tillgodo med att du alltid kan hitta till en lekplats som har just de redskap som dina barn eller barnbarn efterfrågar, en mulen sommardag, när havet är för kallt!
</p>
			</articel>
		</div><!--NINECOL-->
		<div class="threecol ad last">
			<h4>Ad</h4>
<p><img src="images/ad01.png" /></p>
<p><img src="images/ad02.png" /></p>
<p><img src="images/ad03.png" /></p>
		</div><!--THREECOL-->
	</div><!--ROW-->
</div><!--SECTION-->


