<section class="container">
	<div class="row">
		<div class="ninecol">
			<article>
			<h1>Press</h1>
<p>
	Nedan finns ett urval bilder. Dessa får publiceras i samband redaktionell text och artiklar om Samhällsnyttan. Vid foton på bolagets grundare ska fotografen Dillfilm anges.</p>

<p>För att ladda ner bilderna, högerklicka på länken till önskat bildformat och välj ”spara bild som” från menyn som dyker upp.</p>
<p>
För presskontakt, kontakta Samhällsnyttans grundare, Karin Nilsson, telefon 0708922199, karin@kaniconsulting.se
	</p>
			</article>
		</div><!--NINECOL-->
		<div class="threecol ad last">
					<h4>Ad</h4>
<p><img src="images/ad03.png" /></p>
<p><img src="images/ad02.png" /></p>
<p><img src="images/ad01.png" /></p>

		</div><!--THRECOL LAST-->
	</div><!--ROW-->
</div><!--SECTION-->



