<section class="container">
	<div class="row">
		<div class="ninecol">
			<article>
			<h1>Kontakt</h1>



<ul>
	<li itemprop="brand"><h3>Samhällsnyttan</h3></li>
	<li itemprop="founder">Karin Nilsson</li>
	<li itemprop="owns">KANI Consulting AB</li>
	<li itemprop="telephone"><strong>Tel:</strong> 0708922199</li>
	<li itemprop="email"><strong>E-post:</strong>karin@kaniconsulting.se</li>
</ul>
			</articel>
		</div><!--NINECOL-->
		<div class="threecol ad last">
			<h4>Ad</h4>
<p><img src="images/ad01.png" /></p>
<p><img src="images/ad02.png" /></p>
<p><img src="images/ad03.png" /></p>
		</div><!--THREECOL-->
	</div><!--ROW-->
</div><!--SECTION-->


